@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    #login {
        width: 70vw;
        
    }
    #imagem {
        float: left;
        width: 40%;
        height: 100%;
    }
    #formulario {
        float: right;
        width: 60%;
        height: 100%;
    }
    body {
        background-color: red;
    }
}

@media screen and (min-width: 992px) {
    #login {
        width: 900px;
    }
    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    #formulario {
        float: right;
        width: 50%;
        height: 200%;
    }
}