@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#login {
    background-color: #fff;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
}
#login #imagem {
    display: block;
    height: 200px;
   
    background-size: cover ;
    background: #5f2c82 url("../imagem/images.jfif") no-repeat;
}
#formulario {
    display: block;
    padding: 10px;
}