@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #5f2c82, #0265A9 );
    height: 100vh;
    width: 100vw;

}
main {
    
    height: 100vh;
    width: 100vw;
    position: relative;
}
#login {
    background-color: white;
    width: 250px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    display: block;
    transition: 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
#imagem {
    display: block;
    height: 200px;
    background: url("/imagem/images.jpg");
    background-size: cover;
    background-position: right center;
    
}
#formulario {
    display: block;
    padding: 10px;
    
}
#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}
#formulario p {
    font-size: 0.8em;
}
.campo {
    background-color: #0265A9 ;
    width: 100%;
    display: block;
    height: 39px;
    border-radius: 8px;
    margin: 5px 0px;
    
}
.campo input:focus-within {
    background-color: white;
}

.campo label {
    display: none;
}
.campo span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
.campo input {
    background-color: #eeeeee9f ;
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-10px);
}

form input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #0265A9;
    border: none;
    border-radius: 5px;
    color: white;
}
form input[type=submit]:hover {
    background-color: #0099ffdc;
    cursor: pointer;
}

form a.botao {
    margin-top: 5px;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #5f2c82;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 10px;
}
form a.botao:hover {
    background-color: #ae34ff;
}
form a.botao span {
    font-size: 0.8em;
}

