@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #5f2c82, #0265A9 );
    height: 100vh;
    width: 100vw;

}
main {
    
    height: 100vh;
    width: 100vw;
    position: relative;
}
#login {
    background-color: white;
    width: 250px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    display: block;

    transition: 0.5s;
    transition-timing-function: ease;
}
#imagem {
    display: block;
    height: 200px;
    background: url("/imagem/images.jpg");
    background-size: cover;
    background-position: right center;
    
}
#formulario {
    display: block;
    padding: 10px;
    
}
